# general host configuration and per-host variables
[all]

%{ for index, ip in master-ip ~}
${setup_name}-master-${index} ansible_host=${ip} ansible_user=${ssh_user} ansible_ssh_common_args='-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no' ip=${ip}
%{ endfor ~}

%{ for index, ip in worker-ip ~}
${setup_name}-worker-${index} ansible_host=${ip} ansible_user=${ssh_user} ansible_ssh_common_args='-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no' ip=${ip}
%{ endfor ~}

%{ for index, ip in storage-ip ~}
${setup_name}-storage-${index} ansible_host=${ip} ansible_user=${ssh_user} ansible_ssh_common_args='-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no' ip=${ip} msp_disk='${msp_disk}'
%{ endfor ~}

# Bastion host for remote access
bastion ansible_host=${bastion-ip} ansible_user=${ssh_user} ansible_ssh_common_args='-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no' ip=${bastion-ip}

%{ if k8s == "kubespray" ~}
# Kubespray inventory
[kube-master]
%{ for index, ip in master-ip ~}
${setup_name}-master-${index}
%{ endfor ~}

[etcd]
%{ for index, ip in master-ip ~}
${setup_name}-master-${index}
%{ endfor ~}
%{ if length(master-ip) < 3 }
%{ for index, ip in worker-ip ~}
%{ if index < (3 - length(master-ip)) ~}
${setup_name}-worker-${index}
%{ endif ~}
%{ endfor ~}
%{ endif ~}

[kube-node]
%{ for index, ip in worker-ip ~}
${setup_name}-worker-${index}
%{ endfor ~}
%{ for index, ip in storage-ip ~}
${setup_name}-storage-${index}
%{ endfor ~}

[calico-rr]

[k8s-cluster:children]
kube-master
kube-node

%{ endif }

%{ if k8s == "k3s" ~}
# K3S inventory
[master]
%{ for index, ip in master-ip ~}
${setup_name}-master-${index}
%{ endfor ~}

[node]
%{ for index, ip in worker-ip ~}
${setup_name}-worker-${index}
%{ endfor ~}
%{ for index, ip in storage-ip ~}
${setup_name}-storage-${index}
%{ endfor ~}

[k3s_cluster:children]
master
node
%{ endif ~}

# Mayastor inventory (we need to separate between client workers and storage workers in this one)
[mayastor_clients]
%{ for index, ip in worker-ip ~}
${setup_name}-worker-${index}
%{ endfor ~}

[mayastor_storage]
%{ for index, ip in storage-ip ~}
${setup_name}-storage-${index}
%{ endfor ~}
