---
kind: Pod
apiVersion: v1
metadata:
  name: fio
spec:
  volumes:
    - name: fio-volume
      persistentVolumeClaim:
       claimName: {{ fio_pvc_name }}
  containers:
    - name: fio
      image: alpine
      command: ['sh', '-c', 'apk add fio tini && exec tini -- sleep 100000']
      volumeMounts:
        - mountPath: "/volume"
          name: fio-volume
