kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ pvc_name }}
spec:
  storageClassName: openebs-lvmpv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ pvc_size }}
