apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ pod_name }}"
  labels:
    job: colo-nexus-prep
spec:
  ttlSecondsAfterFinished: 5
  template:
    spec:
      containers:
      - name: prep-for-web
        image: busybox
        command: ["sh",  "-c"]
        args: ["echo {{ pod_name }} > /work-dir/index.html"]
        volumeMounts:
          - name: {{ volume }}
            mountPath: /work-dir
      restartPolicy: Never
      volumes:
        - name: {{ volume }}
          persistentVolumeClaim:
            claimName: {{ volume_claim }}
  backoffLimit: 1
