apiVersion: v1
kind: Pod
metadata:
  name: "{{ pod_name }}"
  labels:
    pod: colo-nexus-web
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - "{{ node_name }}"
  containers:
    - name: nginx
      image: nginx
      ports:
        - containerPort: 80
      volumeMounts:
        - name: "{{ volume }}"
          mountPath: /usr/share/nginx/html
  restartPolicy: OnFailure
  tolerations:
    - key: "node.kubernetes.io/unreachable"
      operator: "Exists"
      effect: "NoExecute"
      tolerationSeconds: 10
    - key: "node.kubernetes.io/not-ready"
      operator: "Exists"
      effect: "NoExecute"
      tolerationSeconds: 10
  dnsPolicy: Default
  volumes:
    - name: "{{ volume }}"
      persistentVolumeClaim:
        claimName: "{{ volume_claim }}"

